@import 'core/settings';

body {
  background: $color-white;
  margin: 0;
  height: 100vh;
}

.form {
  margin-left: 20px;
}

.main_section {
  display: flex;
}

.serie_element {
  display: inline-block;
  background-color: aquamarine;
  margin: 5px;
  padding: 10px;
}

.show_title {
  font-family: sans-serif;
  color: teal;
}

.show_image {
  border-radius: 5px;
}
