@import 'core/settings';

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

.form {
  margin: 20px;
}

.page__header--title {
  color: #536473;
}

.main_section {
  display: flex;
}

.serie_element {
  display: inline-block;
  background-color: #BAFFBC;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.show_title {
  font-family: sans-serif;
  color: #536473;
}

.show-item--fav>.show_title {
  color: white;

}

.show_image {
  border-radius: 5px;
}

.show-item--fav {
  background-color: #06EF9D;
}

.fav_list {
  width: 25vw;
  list-style: none;
  padding: 0;
  margin-right: 25px;
}

.fav__container--title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #212126;
}

.favorite_element {
  text-align: center;
  margin-bottom: 20px;
}

.fav_img {
  width: 50px;
}

.title_fav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__remove-favorite {
  background: #212126;
  border-radius: 30%;
  color: white;
  margin-left: 5px;
  height: 50%;
}
